<nav class="topbar topbar-fixed">
    <ul class="topbar-menu center-menu">
        <li class="topbar-menu-item hidden-xs studio-view" [routerLink]="['/view'] ">
             <i class="far fa-eye"></i>
             <span>View</span>
        </li>
        <li class="topbar-menu-item hidden-xs studio-view active" [routerLink]="['/studio']">
            <div class="class">
                <i class="fas fa-pencil-alt"></i>
                <span>Studio</span>
            </div>
       </li>
    </ul>
</nav>
 
