<body style=" background: #353535;">
    <div id="page_control" style="display: block;">
        <a class="btn-nav-page" id="next" href="" [routerLink]="['/page-two']"></a>
    </div>
    <div id="wrapper" style="overflow: hidden;" class="respone">
        <div id="scroller" style="width: 300%; transition-property: transform; transform-origin: 0px 0px; transform: translate(0px, 0px) scale(1) translateZ(0px);">
            <ul id="slideContainer" >
                <li style="width: 33.3333%; overflow: hidden;">
                    <div class="zoom_content" >
                        <div class="page_content" style="width: 1064px;">
                            <div class="zine_content" >
                                
                            </div>
                            <div class="zine_content" >
                                <app-slide-one></app-slide-one>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>