<body class="ZINR_Stores zine-vertical-wrapper vertical-view">
    <section class="vertical-wrapper" id="wrapper">
        <div class="vertical-body  ui-selectable" id="cover-1">
            <div class="inner">
                <div class="zine_content ">
                    <app-slide-one></app-slide-one>
                </div>
            </div>
        </div>

        <div class="vertical-body ui-selectable" id="pages-1">
            <div class="inner">
                <div class="zine_content " >
                    <app-slide-two></app-slide-two>
                </div>
            </div>
        </div>

        <div class="vertical-body ui-selectable" id="pages-2">
            <div class="inner">
                <div class="zine_content" >
                    <app-slide-three></app-slide-three>
                </div>
            </div>
        </div>

        <div class="vertical-body ui-selectable" id="pages-3">
            <div class="inner" >
                <div class="zine_content">
                    <app-slide-four></app-slide-four>
                </div>
            </div>
        </div>
    </section>
</body>