<div id="zine_zineWrapper1" class="coverpage-type-a_v2 FILTER_ZineWrapper">
    <div class="decor_cover_bg" style="text-align: right;">
        <div class="middle">
            <div id="e-cover_bg" class="Travel_Image image_fill ui-draggable-handle" style="background-image: url(&quot;https://zination-media.s3.amazonaws.com/media-cache-z158/z/files/products/6a7844deea3b11e6b612000d3a02647e.png&quot;);">
            </div>
            <div id="e-zine_title_bg" class="zinetitle_bg  ui-draggable-handle">
            </div>
            <div id="e-zine_title" class="zinetitle ui-draggable-handle">
                <div id="ec-zine_title" class="text-left">
                    EDIT YOUR PRODUCT CATALOG TITLE
                </div>
            </div>
        </div>
    </div>
</div>