<div class="product_catalog_ontario zine_container_base zine_page background_color zine_layout_template">
    <div class="zine_page_middle">
        <ul class="products list-inline">
            <li class="product product-1">
                <div class="product-wrapper">
                    <div id="p-img-1-587143" class="product-img ui-draggable-handle" > 
                        <a href="">
                             <div class="fit itm-img" style="background-image:url(&quot;https://cdn.shopify.com/s/files/1/0273/3853/9106/products/Piranha_32_Oz_9e2e0b20-4faa-433c-b8d2-19a15ee81c18_large.jpg?v=1623224559&quot;)"> </div>
                        </a>
                    </div>
                    <div id="e-img_index1" class="product-img-index fore_color text-center ui-draggable-handle" >
                        <div id="ec-img_index1" class="content-editable">01</div>
                    </div>

                    <div id="e-index1" class="product-index text-center ui-draggable-handle" >
                        <div id="ec-index1" class="content-editable">01.</div>
                    </div>
                    <div id="p-title-1" class="product-title text-left ui-draggable-handle" >
                        <div id="pc-title" class="content-editable" style="overflow-wrap: break-word;"> Symplex® Piranha X1 Hyper Cut...</div>
                    </div>
                    
                    <div id="p-desc-1" class="product-desc text-left ui-draggable-handle">
                        <div id="pc-desc" class="content-editable" style="overflow-wrap: break-word;">
                            <meta charset="utf-8" style="display:none">
                            <div class="" style="display: block">
                                <b style="font-weight: 700;">Symplex® Piranha X1,</b>
                                <span>&nbsp;</span>Hyper Cut Ultra Leveling <span>&nbsp;</span>
                                <strong>“Real One Step Compound”&nbsp;... </strong>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                    <div id="pv-currency" class="product-currency themes_text_color text-left  ui-draggable-handle" >
                        <div id="pvc-currency" class="content-editable">CAD</div>
                    </div>
                    <div id="pv-price" class="product-price themes_text_color text-left ui-draggable-handle" >
                        <div id="pvc-price" class="content-editable">16.24</div>
                    </div>
                    <div id="e-sku_title1" class="product-sku-title themes_text_color text-left ui-draggable-handle" >
                        <div id="ec-sku_title1" class="content-editable">SKU:</div>
                    </div>
                    <div id="pv-sku" class="product-sku themes_text_color text-left ui-draggable-handle" >
                        <div id="pvc-sku" class="content-editable">141-0005-PT</div>
                    </div>
                    
                </div>

            </li>
            <!-- end product -->
            <li class="product product-2">
                <div class="product-wrapper">
                    <div id="p-img" class="product-img ui-draggable-handle" >
                        <a href="">
                            <div class="fit itm-img z-post-img" style="background-image:url(&quot;https://cdn.shopify.com/s/files/1/0273/3853/9106/products/2015-05-01_Accessories_11_23496_21558_large.jpg?v=1591594213&quot;)"></div>
                        </a>
                    </div>
                    <div id="e-img_index2" class="product-img-index fore_color text-center ui-draggable-handle" >
                        <div id="ec-img_index2" class="content-editable">02</div>
                    </div>
                    <div id="e-index2" class="product-index text-center ui-draggable-handle" >
                        <div id="ec-index2" class="content-editable">02.</div>
                    </div>
                    <div id="p-title-2" class="product-title text-left ui-draggable-handle" >
                        <div id="pc-title" class="content-editable " > Annie Necklace </div>
                    </div>
                    <div id="p-desc-2" class="product-desc text-left ui-draggable-handle" >
                        <div id="pc-desc" class="content-editable " >
                            <p style="display: block">
                                <em>
                                    This is a demonstration store. You can purchase products likethis from <a href="">Baby & Company... </a>
                                </em>
                            </p>
                        </div>
                    </div>
                    <div id="pv-currency" class="product-currency themes_text_color text-left ui-draggable-handle" >
                        <div class="content-editable">CAD</div>
                    </div>
                    <div id="pv-price"class="product-price themes_text_color text-left ui-draggable-handle" >
                        <div id="pvc-price" class="content-editable">118.00</div>
                    </div>
                    <div id="e-sku_title2" class="product-sku-title themes_text_color text-left  ui-draggable-handle" >
                        <div id="ec-sku_title2" class="content-editable">SKU:</div>
                    </div>
                    <div id="pv-sku"class="product-sku themes_text_color text-left ui-draggable-handle" >
                        <div id="pvc-sku" class="content-editable">23496 </div>
                    </div>
                </div>
            </li>
            <!-- end product -->
            <li class="product product-3">
                <div class="product-wrapper">
                    <div id="p-img-3" class="product-img ui-draggable-handle" >
                        <a class="product-item-link" href=""><span></span></a>
                        <a href="" style="width:100%;height:100%;float:left">
                            <div class="fit itm-img" style="background-image:url(&quot;https://cdn.shopify.com/s/files/1/0273/3853/9106/products/2015-03-12_Ashley_Look_03_23304_11941_large.jpg?v=1591594508&quot;)"></div>
                        </a>
                    </div>
                     <div id="e-index3" class="product-index text-center ui-draggable-handle" >
                        <div id="ec-index3" class="content-editable">03.</div>
                    </div>
                    <div id="p-title-3" class="product-title text-left ui-draggable-handle">
                        <div id="pc-title" class="content-editable " style="overflow-wrap: break-word;">Lace Dress</div>
                    </div>
                    <div id="p-desc-3" class="product-desc text-left ui-draggable-handle">
                        <div id="pc-desc" class="content-editable">
                            <p style="display: block;">
                                <em>This is a demonstration store. You can purchase products likethis from <a href="">Baby &amp; Company... </a></em>
                            </p>
                            <p style="display: block;"></p>
                        </div>
                    </div>
                    <div id="pv-currency" class="product-currency themes_text_color text-left ui-draggable-handle">
                        <div id="pvc-currency" class="content-editable"> CAD</div>
                    </div>
                    <div id="pv-price"class="product-price themes_text_color text-left ui-draggable-handle">
                        <div id="pvc-price" class="content-editable">579.60</div>
                    </div>
                    <div id="e-sku_title3" class="product-sku-title themes_text_color text-left ui-draggable-handle">
                        <div id="ec-sku_title3" class="content-editable">SKU:</div>
                    </div>
                    <div id="pv-sku" class="product-sku themes_text_color text-left ui-draggable-handle">
                        <div id="pvc-sku" class="content-editable">23301 </div>
                    </div>
                    <div id="e-img_index3" class="product-img-index fore_color text-center ui-draggable-handle">
                        <div id="ec-img_index3-587143" class="content-editable">03 </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div id="e-page_header_bg" class="zine_page_header_bg fore_color ui-draggable-handle"></div>
        <div id="e-page_title" class="zine_page_title text-left ui-draggable-handle">
            <div id="ec-page_title" class="content-editable"> product_catalog_ontario - Untitled 2021-06-09 17:10:09 </div> 
        </div>
        <div id="e-page_num" class="zine_page_num themes_text_color text-right ui-draggable-handle">
            <div id="ec-page_num" class="content-editable"><span>01 </span></div>
        </div>
</div>
