<div class="zine_container_base zine_page background_color zine_layout_template product_catalog_variants_v2 page-2">
    <div class="zine_page_middle">
        <ul class="products grid list-inline">
            <li class="product product-1 clearfix">
                <div class="product-wrapper">
                    <div id="p-img-1-587144" class="product-img ui-draggable-handle">
                        <a class="product-item-link hidden" href=""><span></span></a>
                        <a href="" >
                            <div class="fit itm-img"
                                style="background-image:url(&quot;https://cdn.shopify.com/s/files/1/0273/3853/9106/products/2015-02-15_Addis_Look-19_30294_4375_large.jpg?v=1591595869&quot;)">
                            </div>
                        </a>
                    </div>
                    <!-- end product-image  -->
                    <div id="pv-img-1-1-587144" class="product_variant_img1 fit ui-draggable-handle" style="background-image: url(&quot;https://cdn.shopify.com/s/files/1/0273/3853/9106/products/2015-02-15_Addis_Look-19_30294_4376.jpg?v=1591595869&quot;);">
                    </div>
                    <div id="e-title_bg1-587144" class="product-title_bg fore_color draggable ui-draggable-handle" >
                    </div>
                </div>
                <div id="p-title-1-587144" class="product-title text-left itm-pro-dot draggable ui-draggable-handle">
                    <div id="pc-title-" class="content-editable" style="overflow-wrap: break-word;">Everest Stripe Sock</div>
                </div>
                <div id="p-desc-1-587144" class="product-desc text-left itm-pro-dot draggable  ui-draggable-handle">
                    <div id="pc-desc-" class="content-editable "style="overflow-wrap: break-word;">
                        <p><em>This is a demonstration store. You can purchase products like this
                                from <a href="">Baby &amp; Company</a></em></p>
                        <p><span style="line-height: 1.4;"> <span>Our new collection of Italy made
                                    socks by Etiquette adds some gentlemanly&nbsp;flavor to our
                                    men's line.&nbsp;</span> <span>Focused on impeccable
                                    craftsmanship, using the highest quality materials, and timeless
                                    sophistication that’s fashionable, but always
                                    wearable.&nbsp;</span>Color Blue/Brown.&nbsp;</span> 
                                    <span style="line-height: 1.4;">100% Cotton. Made in Italy.&nbsp;</span>
                        </p>
                        <p> <span style="line-height: 1.4;"><a href=""><em>Shop our collection of Etiquette.&nbsp;</em></a></span></p>
                    </div>
                </div>
                <div id="pv-currency-1-1-587144" class="product-currency themes_text_color text-left  ui-draggable-handle">
                    <div id="pvc-currency-1" class="content-editable"> CAD
                    </div>
                </div>
                <div id="pv-price-1" class="product-price themes_text_color text-left ui-draggable-handle" >
                    <div id="pvc-price-1" class="content-editable">28.00</div>
                </div>
                <div id="e-divider1" class="product-divider ui-draggable-handle" >
                </div>
                <div id="e-sku_title1-587144" class="product-sku-title themes_text_color text-left ui-draggable-handle" >
                    <div id="ec-sku_title1-587144" class="content-editable"> SKU:</div>
                </div>
                <div id="pv-sku-1-1-587144" class="product-sku themes_text_color text-left ui-draggable-handle" >
                    <div id="pvc-sku-1" class="content-editable">30580</div>
                </div>
            </li>
        </ul>
    </div>
    <div id="e-header_bg-587144" class="header_bg fore_color ui-draggable-handle"></div>
    <div id="e-footer_bg-587144" class="footer_bg fore_color ui-draggable-handle"></div>
    <div id="e-page_title-587144" class="zine_page_title text-right ui-draggable-handle">
        <div id="ec-page_title-587144" class="content-editable"> product_catalog_ontario - Untitled
            2021-06-09 17:10:09 
        </div>
    </div>
    <div id="e-page_num-587144" class="page_num text-right ui-draggable-handle">
        <div id="ec-page_num-587144" class="content-editable"><span>02</span></div>
    </div>
</div>
